@model StoreLayoutBindingModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyStore</title>
    <link rel="stylesheet" href="~/css/store.css" />
    <link rel="stylesheet" href="~/css/leftMenu.css" />
    <link rel="stylesheet" href="~/css/mainMenu.css" />
    
</head>
<body>
    @{
        var authorizedClient = Context.Session.Get<Client>("authorizedClient");
        var authorizedEmployee = Context.Session.Get<Employee>("authorizedEmployee");

        if (authorizedEmployee == null )
        {
        <div class="announcement">
            @*Для доступа к "админке" введите данные учетные сотрудника. Например Почта: a@a, Пароль: a*@
            Please enter the employee credentials (Email: a@a, Pass: a) to access the administrator functions.
        </div>
        }
    }

<script>
    function checkCart() {

        let xhr = new XMLHttpRequest();// создаем объект запроса
        xhr.open("post", "/store/Cart");

        xhr.onload = () => {

            let response = JSON.parse(xhr.response);

            if (response.message == "Корзина НЕ пуста")
            {
                window.open("CartForm");

            }
            else
            {
                alert(response.message);
                //window.open("store/Cart");
            }

        }

        xhr.send(); // отправка запроса
    }


</script>

<header>

    <div class="logo">
        <img src="~/css/theme1/logo5.jpg" alt="Logo" />
    </div>
    <div class="logo">
        <img src="~/css/theme1/motto.png" alt="Motto" />
    </div>
    <div class="logo">
        <img src="~/css/theme1/phones.png" alt="Phones" />
    </div>

    

        @if ((authorizedClient != null) && (authorizedClient.Order != null) && (authorizedClient.Order.Purchases != null) && (authorizedClient.Order.Purchases.Count != 0))
        {
            
            <button style="background-image: url('/css/theme1/filled_cart.png');"  class="cartButton" onclick="checkCart()" > </button>
        }
        else 
        {
            <button style="background-image: url('/css/theme1/cart.png');" class="cartButton" onclick="checkCart()"> </button>
        }
    

    <div class="authorize">
        <form asp-controller="home" asp-action="signIn" method="post">
            <div>
                <label asp-for="SignInBindingModel.Email"></label>
                <input align="right" asp-for="SignInBindingModel.Email" />
            </div>
            <div>
                <label asp-for="SignInBindingModel.Pass"></label>
                <input align="right" asp-for="SignInBindingModel.Pass" />
            </div>
            <button type="submit">Войти</button>
        </form>

    </div>

</header>

    <div class="authorizeClient">

        <div class="authorizeLeft">
            @{

                if (authorizedClient != null)
                {
                    <div>Вы вошли как <b>@authorizedClient.Email</b>. &nbsp;&nbsp;&nbsp;<a class="btnLink" asp-controller="Home" asp-action="GetOut">Выйти</a></div>
                }
                else
                {
                    if (authorizedEmployee != null)
                    {
                        <div>
                            Вы вошли как сотрудник <b>@authorizedEmployee.Email</b>. &nbsp;&nbsp;&nbsp;<a class="btnLink" asp-controller="Home" asp-action="GetOut">Выйти</a>&nbsp;&nbsp;
                            <a class="btnLink" asp-controller="home" asp-action="RegistrationForm">Регистрация сотрудника</a>
                        </div>
                    }
                    else
                    {
                        <div>Вы не авторизированы. &nbsp;&nbsp;&nbsp;<a class="btnLink" asp-controller="home" asp-action="RegistrationForm">Регистрация</a></div>
                    }
                }


            }
        </div>

        <div class="authorizeRight">
            @{if ((@Model != null) && (@Model.SignInBindingModel != null) && (@Model.SignInBindingModel.AuthorisationMessage != null))
                {
                    @Model.SignInBindingModel.AuthorisationMessage
                }
            }
        </div>
    </div>

    <ul class="mainMenu">
        <li class="item-100"><a asp-controller="home" asp-action="index">Главная</a></li>
        <li class="item-100"><a asp-controller="home" asp-action="articles">Статьи </a></li>
        <li class="item-100"><a asp-controller="home" asp-action="questions">Вопросы&nbsp;клиентов</a></li>
        <li class="item-100"><a asp-controller="home" asp-action="prices">Цены&nbsp;и&nbsp;Акции </a></li>
        <li class="item-100"><a asp-controller="home" asp-action="delivery">Доставка&nbsp;и&nbsp;оплата</a></li>
        <li class="item-100"><a asp-controller="home" asp-action="contacts">Контакты</a></li>

        @{
            if (Context.Session.Get<Employee>("authorizedEmployee") != null)
            {
                <li class="item-100-admin"><a asp-controller="admin" asp-action="CategoryEditor">Category&nbsp;Editor</a></li>
                <li class="item-100-admin"><a asp-controller="admin" asp-action="ProductsManagement">Products&nbsp;Management</a></li>
                <li class="item-100-admin"><a asp-controller="admin" asp-action="OrdersManagement">Orders&nbsp;Management</a></li>
                <li class="item-100-admin"><a asp-controller="admin" asp-action="LogView">Today's&nbsp;visit&nbsp;log&nbsp;</a></li>
            }

        }


    </ul>


    <div class="center">

        <div class="leftColumn">


            <div class="leftMenuDiv">

                <ul class="leftMenu">

                    <li>
                        <a class="decorLeftMenu" href="#">Видеонаблюдение</a>
                        <ul class="sub-level">
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="VideoObservation" asp-route-category="Cameras">Камеры</a></li>
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="VideoObservation" asp-route-category="VideoRecorders">Видеорегистраторы</a></li>
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="VideoObservation" asp-route-category="Switches">Коммутаторы</a></li>
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="VideoObservation" asp-route-category="HDDs">Память: HDD</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="decorLeftMenu" href="#">Контроль доступа</a>
                        <ul class="sub-level">
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="AccessControl" asp-route-category="KomplektyDomofonov">Комплекты домофонов</a></li>
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="AccessControl" asp-route-category="KontrollerySKD">Контроллеры СКД</a></li>
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="AccessControl" asp-route-category="SchityvateliKartDostupa">Считыватели карт доступа</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="decorLeftMenu" href="#">Сигнализации</a>
                        <ul class="sub-level">
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="Alarms" asp-route-category="KomplektySignalizatsiy">Комплекты сигнализаций</a></li>
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="Alarms" asp-route-category="Tsentrali">Централи</a></li>
                            <li><a class="decorLeftMenu" asp-controller="store" asp-action="Products" asp-route-section="Alarms" asp-route-category="MovementSensors">Датчики движения</a></li>
                        </ul>
                    </li>

                    <li><a class="decorLeftMenu" href="#">Автоматика</a></li>

                </ul>
            </div>



            <div class="adv">
                <img src="~/Advert/adv.png" alt="Advertisement" />
            </div>

            <div class="adv">
                <img src="~/Advert/cena.jpg" alt="cena_deshevle" />
            </div>

        </div>



        <div class="main">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Видеолайн. Все права защищены. <a class="btnLink" asp-controller="home" asp-action="RegistrationForm">Регистрация</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
